.week-outline {
  width: 97%;
  height: 82%;
  margin: auto;
  border: 2px solid black;
}

.day-container {
  display: inline;
  height: 100%;
}

.day-outline {
  width: 14%;
  height: 100%;
  border-right: 2px solid black;
  display: inline-block;
  text-align: center;
  /* font-family: Itim-Regular; */
}

.day-outline-no-border {
  width: 14%;
  height: 100%;
  display: inline-block;
  text-align: center;
  /* font-family: Itim-Regular; */
}

.day-text {
  margin-top: 1%;
  font-family: Itim-Regular;
}
